
/TextSimilitude/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/TextSimilitude/obj/x86/Debug/GenerateResource-ResGen.read.1.tlog
/TextSimilitude/obj/x86/Debug/GenerateResource-ResGen.write.1.tlog
/TextSimilitude/obj/x86/Debug/GenerateResource.read.1.tlog
/TextSimilitude/obj/x86/Debug/GenerateResource.write.1.tlog
/TextSimilitude/obj/x86/Debug/TempPE/Properties.Resources.Designer.cs.dll
/TextSimilitude/obj/x86/Debug/TextSimilitude.Properties.Resources.resources
/TextSimilitude/obj/x86/Debug/TextSimilitude.TextSimilitudeForm.resources
/TextSimilitude/obj/x86/Debug/TextSimilitude.csproj.FileListAbsolute.txt
/TextSimilitude/obj/x86/Debug/TextSimilitude.exe
/TextSimilitude/obj/x86/Debug/TextSimilitude.pdb
/TextSimilitude/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
/TextSimilitude/obj/x86/Release/GenerateResource-ResGen.read.1.tlog
/TextSimilitude/obj/x86/Release/GenerateResource-ResGen.write.1.tlog
/TextSimilitude/obj/x86/Release/TempPE/Properties.Resources.Designer.cs.dll
/TextSimilitude/obj/x86/Release/TextSimilitude.Properties.Resources.resources
/TextSimilitude/obj/x86/Release/TextSimilitude.TextSimilitudeForm.resources
/TextSimilitude/obj/x86/Release/TextSimilitude.csproj.FileListAbsolute.txt
/TextSimilitude/obj/x86/Release/TextSimilitude.exe
/TextSimilitude/obj/x86/Release/TextSimilitude.pdb
/TextSimilitude/Properties/AssemblyInfo.cs
/TextSimilitude/Properties/Resources.Designer.cs
/TextSimilitude/Properties/Resources.resx
/TextSimilitude/Properties/Settings.Designer.cs
/TextSimilitude/Properties/Settings.settings
/TextSimilitude/bin/Debug/TextSimilitude.exe
/TextSimilitude/bin/Debug/TextSimilitude.exe.config
/TextSimilitude/bin/Debug/TextSimilitude.pdb
/TextSimilitude/bin/Debug/TextSimilitude.vshost.exe
/TextSimilitude/bin/Debug/TextSimilitude.vshost.exe.config
/TextSimilitude/bin/Debug/TextSimilitude.vshost.exe.manifest
/TextSimilitude/bin/Debug/ICTCLAS.log
/TextSimilitude/TextSimilitude.csproj.vs10x